#project
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 12pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    COLOR: black;
    TEXT-INDENT: 0px;
    PADDING-TOP: 0px;
    POSITION: relative;
    TEXT-ALIGN: center
}
#project TH
{
}
#project TD
{
}
#servers
{
}
#servers TH
{
}
#servers TD
{
}
#projectdescriptionheader
{
}
#projectdescriptionheader TH
{
}
#projectdescriptionheader TD
{
}
#projectdescriptionfooter
{
}
#projectdescriptionfooter TH
{
}
#projectdescriptionfooter TD
{
}
#server
{
}
#server TH
{
}
#server TD
{
}
#collectionheader
{
}
#collectionheader TH
{
}
#collectionheader TD
{
}
#collection
{
}
#collection TH
{
}
#collection TD
{
}
#interfaces
{
}
#interfaces TH
{
}
#interfaces TD
{
}
#members
{
}
#members TH
{
}
#members TD
{
}
#methods
{
}
#methods TD
{
}
#methods TD
{
}
#events
{
}
#events TD
{
}
#events TD
{
}
#properties
{
}
#properties TD
{
}
#properties TD
{
}
#member
{
}
#member TH
{
}
#member TD
{
}
#syntax
{
}
#syntax TH
{
}
#syntax TD
{
}
#parametersheader
{
}
#parametersheader TH
{
}
#parametersheader TD
{
}
#parameters
{
}
#parameters TH
{
}
#parameters TD
{
}
.header
{
}
#events TH
{
}
#methods TH
{
}
#properties TH
{
}
#project TR
{
    BORDER-RIGHT: gray 2pt double;
    BORDER-TOP: gray 2pt;
    BORDER-LEFT: gray 2pt;
    BORDER-BOTTOM: gray 2pt
}
